@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400;1,600&display=swap');
html {
    font-family: 'Josefin Sans', sans-serif;
}

.color1{
    background-color: #001219;
}

.color{
    color: #F2F4FF;
    margin: 2rem;
}

.section1{
    background-color: #AE2012;
    border-radius: 2rem;
    margin: 1rem;
    padding: 2rem;
}


/*-------------*/

/*--pagina de inicio--*/

.flex1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.imagen1{
    border-radius: 2rem;
    border: ridge .3rem #EE9B00;
    width: 90%;
}

.flex2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3, .subtitulo1 {
    text-decoration: overline #0A9396;
}

/*--pagina algo-de-mi--*/

.imagen2{
    border-radius: 2rem;
    border: ridge .3rem #EE9B00;
}

/*--pagina punto-deporte*/

.flex3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorlink{
    color: #001219;
}

/**/
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1{
    width: 60%;
    object-fit: cover;
    object-position: center;
}