.grilla2-1-row{
    @extend .grilla1;
    grid-template-columns: 2fr 1fr;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        @include size;
        width: 45vh;
        padding: 0%;
    }
    h3 {
        text-decoration: overline $color-decorado;
    }
}