$color-body: #001219;
$color-letras: #F2F4FF;
$color-section: #AE2012;
$color-bordes: #E28413;
$color-decorado: #8ECAE6;

.color1 {
    background-color: $color-body;
}
.color {
    color: $color-letras;
    margin: 1rem;
}

@mixin size {
    border-radius: 2rem;
    border: outset .3rem $color-bordes;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400;1,600&display=swap');
html {
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    animation-name: decender;
    animation-duration: 2s;
    animation-delay: .5s;
}