.grilla2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    h3 {
        text-decoration: overline $color-decorado;
    }
    .imagenyo{
        img {
            width: 90%;
        }
    }
}